.modal-content {
    position: fixed; /* фиксированное позиционирование для модального окна */
    top: 50%; /* размещаем модальное окно посередине вертикали */
    left: 50%; /* размещаем модальное окно посередине горизонтали */
    transform: translate(-50%, -50%); /* центрируем модальное окно */
    background-color: #fff; /* цвет фона модального окна */
    padding: 20px; /* отступы внутри модального окна */
    border-radius: 8px; /* скругляем углы модального окна */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* тень для модального окна */
    z-index: 1000; /* задаем высокий z-index, чтобы модальное окно было поверх остального контента */
  }
  
.modal-wrapper {
    position: fixed; /* фиксированное позиционирование для wrappers */
    top: 0;
    left: 0;
    width: 100%; /* распространяемся на всю ширину экрана */
    height: 100%; /* распространяемся на всю высоту экрана */
    background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный черный цвет фона */
    z-index: 900; /* z-index ниже, чем у модального окна, чтобы оставался под ним */
 }